<div class="file-uploader">
  <div class="file-uploader__header">
    <h3>Files Uploading</h3>
  </div>

  <div class="file-uploader__content">
    <div
      class="dropzone"
      appDropZone
      [class.dropzone__hovered]="hovered"
      (hover)="toggleHovered($event)"
    >
      <h4 class="dropzone__label">Drop files here or</h4>

      <div class="dropzone__file">
        <label for="file-uploader" class="file">
          <input type="file" name="file-uploader" class="file__input" />
          <span class="file__label">choose</span>
        </label>
      </div>
    </div>
  </div>

  <div class="file-uploader__footer"></div>
</div>
