<div class="app-page">
  <header class="app-page__header">
    <h1>Welcome</h1>
  </header>

  <main class="app-page__content">
    <p class="content__paragraph">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores
      voluptas dolorem, ut dicta nostrum mollitia magni. Architecto ex veritatis
      dicta aperiam perspiciatis maxime! Porro id labore ullam dolores sequi
      est.
    </p>

    <p class="content__paragraph">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum,
      doloremque dolorum! Dicta numquam tempore odio minus optio voluptatem
      facere, maiores vel explicabo fugiat iure odit, fuga similique, tenetur
      non facilis?
    </p>

    <p class="content__paragraph">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos expedita
      numquam fugit cupiditate voluptates amet veniam aut eum voluptatum iure
      eveniet quia, reprehenderit nostrum natus cumque, deleniti perferendis
      maxime accusamus.
    </p>
  </main>
</div>
